div {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
header {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
button {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  font-weight: var(--glue-font-weight-normal);
  color: #b3b3b3;
  text-transform: none;
  font-family: cursive;
  padding: 0;
}
ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
.signupbtn.Transformed {
  background-color: transparent;
  border: 1px solid white;
}
.Jumbostyle {
  background: linear-gradient(
    160deg,
    #03140c,
    #051817,
    #0c1c1f,
    #141f26,
    #181f2c,
    #1a1b2f,
    #221630,
    #2c0d2c
  );
}
.customizedNavbar.Ezzat {
  position: unset;
  background-color: transparent;
  background: linear-gradient(
    160deg,
    #03140c,
    #051817,
    #0c1c1f,
    #141f26,
    #181f2c,
    #1a1b2f,
    #221630,
    #2c0d2c
  );
}

.MainViewContainer {
  isolation: isolate;
  padding-bottom: 32px;
  padding: 0 32px;
  margin: 0;
  /* max-width: 1955px; */
}
.contentSection {
  padding-top: 2em;
}
.row.general {
  margin-left: -16px;
  margin-right: -16px;
  display: flex;
  flex-direction: row;
}
.container.fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 8px;
  padding-right: 8px;
}
.TrackListHeader {
  margin: 0 auto 1.5em;
  text-align: center;
  /* max-width: 400px; */
}
.cover.art.icon {
  position: absolute;
  top: 35%;
  bottom: 35%;
  left: 35%;
  right: 35%;
}
[draggable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cover.art {
  width: auto;
  height: auto;
  margin: 0;
  display: block;
  border: 0;
  outline: 0;
  position: relative;
  z-index: 0;
  background-color: #282828;
}
.TrackListHeader.media.object {
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  padding-bottom: 15px;
  /* max-width: 320px; */
  position: relative;
  /* padding-bottom: 2.5em; */
}
.OneOpacity {
  opacity: 1;
}
.ButtonHover {
  position: absolute;
  /* width: 500px; */
  left: 0;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 1px #b3b3b3;
  box-shadow: inset 0 0 0 1px #b3b3b3;
  border: 0;
  border-radius: 500px;
}

.ButtonHover a {
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.OneOpacity:hover .cover.art.playback.ButtonHover {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(128, 116, 116, 0);
  transition: background 0.5s ease;
}

.OneOpacity:hover .overlay {
  display: block;
  background: rgba(44, 39, 39, 0.3);
}

.cover.art.playback {
  -webkit-transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
  -webkit-transition-property: all;
  transition-property: all;
  background-color: transparent;
  /* display: none; */
  position: absolute;
  z-index: 3;
  width: 62px;
  height: 62px;
  margin-left: -31px;
  margin-top: -31px;
  top: 50%;
  left: 50%;
  color: #fff;

  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.cover.art.image {
  position: inherit;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: 50%;
  background-color: #000;
  background-repeat: no-repeat;
}
.cover.art.cover.art.playback.icon.play {
  transform: scale(0.5);
  width: 100%;
  height: 100%;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  .cover.art.playback {
    -webkit-transition-duration: 50ms;
    transition-duration: 50ms;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.TrackListHeader.Body {
  vertical-align: middle;
  color: #fff;
}
.TrackListHeader.Body.entity.Name {
  display: none;
  padding-bottom: 10px;
}
.TrackListHeader.Inverter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.TrackListHeader.Body.by {
  color: #fff;
  opacity: 0.6;
}

.TrackListHeader.Body.entity.Name h2 {
  color: rgb(195, 240, 200);
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.005em;
  font-weight: var(--glue-font-weight-black);
  text-transform: none;
}
.TrackListHeader.Body.Inverter.Actions {
  margin-top: 16px;
}
.TrackListHeader.ExtraButtons {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  margin-top: 10px;
}
@media (max-width: 1199px) {
  .TrackListHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    /* -webkit-box-direction: normal; */
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 0 20px;
    max-width: 100%;
    padding-bottom: 20px;
  }
  .TrackListHeader.Body {
    text-align: initial;
    margin: 0 0 0 40px;
    width: 100%;
    max-width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex: 70%;
  }
  .TrackListHeader.Body.entity.Name {
    display: block;
    width: max-content;
    margin: 0px;
  }

  .TrackListHeader.Body.Inverter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    margin: 0px;
  }

  .TrackListHeader.media.object {
    width: 30%;
    min-width: 157px;
    position: relative;
    flex: 30%;
  }

  .TrackListHeader.Body.Inverter.Actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: normal;
    margin-top: 32px;
    margin: 0px;
  }
  .TrackListHeader.Body.by {
    margin: 0px;
  }
}
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.mo.info {
  margin: 12px 0 4px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  display: block;
}
[dir="ltr"] .mo.info {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.TrackListHeader.mo.info {
  display: block;
  height: auto;
  margin-bottom: 0.3em;
  text-decoration: none;
}
.mo.info.Name {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  font-weight: var(--glue-font-weight-bold);
  color: #fff;
  text-transform: none;
}
.TrackListHeader.mo.mo.info.Name {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -0.005em;
  font-weight: var(--glue-font-weight-black);
  color: #fff;
  text-transform: none;
  overflow-wrap: break-word;
  color: rgb(195, 240, 200);
}

.textMenuWrapper {
  display: inline;
}

.mo.meta {
  text-align: center;
}
.mo.meta.ellipsis-one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1px;
  margin-right: -1px;
}
@media (max-width: 1199px) {
  .TrackListHeader.mo.info {
    display: none;
  }
}

.TrackListHeader .fa.fa-ellipsis-h {
  font-size: larger;
}

.TransparentButton {
  background-color: transparent;
  border-color: transparent;
}
/* /////////////////////2ND part///////////////////////////////// */
.TrackListContainer {
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.TrackListContainer.Orderedlist {
  width: 100%;
  margin-bottom: 1.5em;
  list-style: none;
}

.TrackListRow {
  outline: none;

  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.56em;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
}

.TrackListRow:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.TrackListCol {
  display: block;
  height: 4.56em;
}

.TrackListRow:hover .TrackListCol.PositionOuter.TopAlign.PlayPause {
  display: block;
  color: #fff;
}
.TrackListRow:hover .TrackListCol.PositionOuter.Position {
  margin-top: 0.75em;
  display: none;
}
.TrackListCol.PositionOuter {
  font-feature-settings: "tnum";
  letter-spacing: 0;
  width: 3em;
  text-align: right;
  padding-right: 1em;
}
.TrackListCol.PositionOuter.Position {
  margin-top: 0.75em;
  display: block;
}

.TrackListCol.PositionOuter.TopAlign {
  margin-top: 0.7em;
}

.TrackListCol.PositionOuter.PlayPause {
  color: #fff;
  display: none;
}

.TrackListCol.name {
  -ms-flex: 1 1 0px;
  flex: 1 1 0;
  width: 0;
  overflow: hidden;
  padding-right: 1px;
  margin-right: -1px;
}
.InOneLine {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 1px;
  margin-right: -1px;
}
.TrackListName {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.015em;
  color: #fff;
  text-align: left;
}

.TrackListName.SecondLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.TrackListCol.more {
  text-align: right;
  padding-right: 1em;
  min-width: 65px;
}
