.InputStyle{
    color: black;
    padding: 6px 48px;
    height: 40px;
    width: 100%;
    border: 0;
    border-radius: 500px;
    text-overflow: ellipsis;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: .015em;
    text-transform: none;
}
.WrappingSection{ margin-bottom: 100px;
    padding: 100px;
    background: transparent;}
.BrowseAll{
    font-size: 24px;
    line-height: 1.3em;
    letter-spacing: -.04em;
    overflow-wrap: break-word;
    position: absolute;
}
.BrowseAllArtists{
    font-size: 24px;

    line-height: 1.3em;
    letter-spacing: -.04em;
    overflow-wrap: break-word;
    position: absolute;
}
.RowSearch{
    padding-top: 70px;
}
.PaddingColoumns{
    padding: 10px;
    color: #212529;
}

.SearchCardBodySuggestionCard{
    background-color: rgb(37, 37, 37);
}

.SearchCardTitleSuggestionCard{
    color:rgb(134, 134, 134);
    margin:20px;
    font-weight: bolder;
    font-size:20px;
    background-color: rgb(37, 37, 37);
    border-radius: 2em;
}

.SearchCardButtonSuggestionCard{
    background-color: rgb(37, 37, 37);
    color:rgb(134, 134, 134);
    border:none;
    font-weight: bolder;
    font-size:20px; 
}

.SearchCardButtonSuggestionCard:hover{
    background-color: rgb(63, 63, 63);
    color:rgb(192, 192, 192); 
}

.SearchAfterWritingInBoxContainer{
    padding:0;
}