.artist-img {
    max-width: 150px;
    max-height: 150px;
    margin-top: 15px;
}

.artist-interface {
    background-color: #212529;
}

.sidebar-area {
    background-color: #222326;
    height: inherit;
}

.sidebar-area-col {
    background-color: #222326;
}

.top-logo {
    margin: 10px;
}

.sidebar-area Button {
    fill: var(--white);
    color: #919496;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-decoration: none;
    background-color: #222326;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 0;
    letter-spacing: 0;
    text-transform: none;
    box-sizing: border-box;
    font-size: 18px;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    border-style: none;
    line-height: 1.5;
    margin: 15px;
    outline: none;
    margin-left: 25%;
}

.sidebar-area Button:hover {
    fill: var(--white);
    color: #919496;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-decoration: none;
    background-color: #222326;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 0;
    letter-spacing: 0;
    text-transform: none;
    box-sizing: border-box;
    font-size: 18px;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    border-style: none;
    line-height: 1.5;
    margin: 15px;
    margin-left: 25%;
}

.sidebar-area Button i {
    color: lightgrey;
}

.sidebar-area Button:enabled {
    fill: var(--white);
    color: #919496;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-decoration: none;
    background-color: #222326;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 0;
    letter-spacing: 0;
    text-transform: none;
    box-sizing: border-box;
    font-size: 18px;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    border-style: none;
    line-height: 1.5;
    margin: 15px;
    margin-left: 25%;
}

.sidebar-area Button .sidebar-area i:hover {
    cursor: pointer;
}

.top-logo {
    max-width: 250px;
    height: auto;
    max-height: 50px;
}

.header {
    background-color: black;
}

.song-title,
.song-duration,
.song-info,
.album-title,
.album-header {
    color: lightgray;
}

.add-album-label {
    color: lightgray;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
    left: 15px;
}

.add-album-form {
    margin: 50px;
}

.album-header {
    margin-top: 15px;
    text-align: left;
    margin-left: 13px;
}

@media(max-width:991px) {
    .album-header {
        text-align: center;
        margin: auto;
    }
}

.edit-albums-btn {
    margin-left: 10px;
    margin-bottom: 10px;
    border-color: lightgrey;
    color: gainsboro;
    background-color: #212529;
}

.add-album-label {
    margin-right: 10px;
}

.edit-albums-btn a {
    text-decoration: none;
    color: gainsboro;
}

.album-title,
.song-title,
.song-duration {
    margin-left: 30px;
}

.song-img,
.album-img {
    margin: 15px;
    max-width: 300px;
    max-height: 300px;
}

#no-songs-hdr {
    color: gainsboro;
    margin: 20px;
}

.album-img {
    cursor: pointer;
}

.edit-btn,
.back-btn {
    margin: 15px;
}

.bio-header,
.name-header,
.email-header,
.songs-header,
.albums-header {
    color: lightgray;
    margin-top: 20px;
    text-align: left;
}

.email,
.bio,
.name,
.songs-count,
.albums-count {
    color: lightgray;
    margin-top: 20px;
    text-align: left;
}

.row-area {
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.profile-header {
    color: lightgray;
    text-align: left;
    margin-top: 15px;
}