#forgot-password-link:hover {
    text-decoration: none;
    color: #1db954;
}

#forgot-password-link {
    padding: 10px;
    margin-top: 20px;
    color: green;
}

#forgot-password {
    padding: 10px;
    margin: 10px;
}

#signupbutton {
    width: 300px;
    height: 50px;
    background-color: white;
    border-radius: 150px;
    border-color: lightslategray;
    border-style: solid;
    border-width: 3px;
}

#signinbutton {
    width: 300px;
    height: 50px;
    background-color: white;
    border-radius: 150px;
    border-color: lightslategray;
    border-style: solid;
    border-width: 3px;
    color: lightslategray;
}

#signuplink {
    color: inherit;
    padding: 10px;
    margin: 10px;
}

#signupbutton {
    color: lightslategray;
}

#signuplink:hover {
    text-decoration: none;
}

#signupbutton:hover {
    background-color: lightslategrey;
    color: white;
}

.facebookButton {
    margin: 10px;
}